.genericInput{
    width: 100%;
    height: 100%;
    padding: .25em;
    background-color: white;
    border-radius: .3em;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.genericInput > img {
    width: 6%;
    margin: 0 2%; 
}

.genericInput > input {
    width: clamp(80%, 90%, 100%);
    height: 100%;
    border: none;
    padding-left: .3em;
    background-color: transparent;
}