.button{
    height: 100%;
    width: 100%;
    border-radius: 0.3em;
    background-color: var(--gray-button);
    color: white;
    font-weight: 600;

    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
}
.button.disabled{
    background-color: var(--gray-button-disabled);
    cursor: default;
}

.button:hover{
    background-color: var(--gray-button-hover);
}

.button.disabled:hover {
    background-color: var(--gray-button-disabled);
}