.login {
    width: 100vw;
    height: 100vh;
    background: var(--login-gradient);
    position: absolute;
    left: 0;
    top: 0;

    display: flex;
    align-items: center;
    justify-content: center;
}

.login > .form {
    background-color: var(--login-color);
    width: clamp(250px, 80%, 450px);
    height: clamp(300px, 70%, 550px);
    border-radius: .5em;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.login > .form > img {
    width: 50%;
}

.login > .form > .inputsContainer {
    width: 80%;
    height: 40%;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.loginInput{
    width: 100%;
    height: 2.25em;
}

.loginBtn {
    width: 80%;
    height: 2.25em;
}