* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  position: relative;
  font-family: 'Dosis', sans-serif;
  outline: none;
  transition: all .2s;

  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  --login-gradient: linear-gradient(0.38turn, rgb(180, 236, 80) 30%, rgb(67, 148, 34) 100%);
  --login-color: #ebf5e1;
  --gray-button: #7a837d;
  --gray-button-hover: #616663;
  --gray-button-disabled: #bbbbbb;

  --sidebar-background: linear-gradient(#6a7ca1,#3b4b6d);
  --dark-blue: #323852;
}

html, body {
  position: absolute;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  transition: all 0s;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.shadow{
  box-shadow: 5px 5px 15px 0px rgba(0,0,0,0.5);
  -webkit-box-shadow: 5px 5px 15px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 5px 5px 15px 0px rgba(0,0,0,0.5);
}
