/*
=============================================
==================SIDEBAR====================
=============================================
*/
.sidebar {
    height: 100vh;
    width: 5em;
    background: var(--sidebar-background);
    padding: 2em 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.sidebar.open{
    left: 0;
}
.sidebar.closed{
    left: -5em;
}


/*
=============================================
===================MENU======================
=============================================
*/

.sideMenu {
    width: 90%;
    height: 40%;
}
.userBox{
    width: 100%;
    aspect-ratio: 1/1;
    background-color: var(--dark-blue);
    border-radius: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding: .5em;
}
.userBox img {
    height: 100%;
    border-radius: 1em;
}
.userNick {
    display: none;
}

/*
=============================================
====================ARROW====================
=============================================
*/

.openArrow {
    width: 30px;
    height: 35px;
    padding-bottom: .2em;
    background-color: var(--dark-blue);
    left: calc(50% + 5px);
    top: -10%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 2em;
    font-weight: 600;
    border-radius: 5px;
}


/*
=============================================
====================LOGO=====================
=============================================
*/

.sidebarImg {
    width: 80%;
    height: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}
.sidebar > .sidebarImg > img {
    width: 100%;
    aspect-ratio: 18/21;
    content: url('../../assets/isotipo/transparente/isotipo_fondo_oscuro.png');
}



/*
=============================================
=================RESPONSIVE==================
=============================================
*/

@media (orientation: landscape) {
    .sidebar {
        width: unset;
    }
    .sidebar.open{
        width: clamp(250px, 17%, 350px);
    }
    .sidebar.closed{
        left: 0;
        width: clamp(20px, 10%, 100px);
    }
    .sidebar.open > .sidebarImg > img {
        width: 100%;
        aspect-ratio: 13/10;
        content: url('../../assets/logotipo/transparente/logo_fondo_negro.png');
    }


    .userBox{
        aspect-ratio: 3/1;
        justify-content: left;
    }
    .sidebar.closed .userNick {
        display: none;
        position: absolute
    }
    .userNick{
        color: white;
        display: flex;
        flex-direction: column;
        padding-left: 2em;
    }
    .userNick > h2 {
        font-weight: 400;
        font-size: 2em;
    }
    .userNick > p {
        font-weight: 100;
        font-size: 1.3em;
        cursor: pointer;
    }
    .userNick > p:hover {
        border-bottom: 1px solid white;
    }
}